{% extends "poemese/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block content %}

<script src="{% static 'poemese/js/sign_in.js' %}"></script>
<link href="{% static 'poemese/css/sign_in.css' %}" rel="stylesheet">

<div style="height: 100%; width: 100%;" id="plano_animado">
  <main>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center"><img class="logo" src="{% static 'poemese/img/initial.png' %}"></a>
          </div>
        </nav>
      </div>

      {% if messages %}
        <ul class="messages green valign-wrapper">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="apresentation_message-signin">
        <p>Conecte-se através da escrita</p>
      </div>

      <div class="white container-login-cadastro">
        <div id="container-top-login">
          <p>Entrar</p>
        </div>
        <div id="entrar" class="col s12">
          <form method="POST" action="{% url 'poemese:sign_in' %}">
            <div id="container-login">
              {% csrf_token %}
              {% form form=entry_form %}
                {% part form.pseudonimo prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
                {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}<br/>
                {% attr form.keep_logged 'group' class %}right-align{% endattr %}
              {% endform %}
              <input type="hidden" name="form-type" value"entry-form" />
              <input type="submit" id="logar_botao" value="entrar" name="_submit" class="btn black form_submit_initial" />
            </div>
          </form>
        </div>
      </div>
  </main>
</div>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Cadastre-se</h5>
        <p class="grey-text text-lighten-4"> É novo no sistema? <br/> <a class="btn black white-text" href="{% url 'poemese:sign_up' %}">PARTICIPE</a> </p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Congratulações!</h5>
        <p class="grey-text text-lighten-4"> Poeta, todo esse sistema foi pensado na sua pessoa.
          Estamos esperançosos que o excelentíssimo se satisfaça com esse ambiente.
        </p>
      </div>
      <div class="col l12 m12 s12">
        <h5 class="white-text">Links Principais</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Nos retorne seu feedback</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Sobre a rede</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Poeme-se, All rights reserved.
    </div>
  </div>
</footer>

{% endblock %}
