{% extends "poemese/base.html" %}
{% load material_form %}
{% load staticfiles %}
{% block content %}

<script src="{% static 'poemese/js/poetryline.js' %}"></script>

<link href="{% static 'poemese/css/poetryline.css' %}" rel="stylesheet">

{% include "poemese/nav.html" %}

<div class="row position-poems" id="add_more_poems">
  {% for poema in object_list %}
    <div class="col s12 m4 l4">
      <div class="container-card">
        <div class="container-top-poem">
            <img id="img-user-poem" class="circle" src="{{ poema.autor_poema.profile_image.url }}">
            <a href="{% url 'poemese:profile' poema.autor_poema_id %}">
              <span class="name-autor capitalize">
                {{ poema.autor_poema }}
              </span>
            </a>
            compartilhou este poema
        </div>
        <div class="card" id="{{poema.id}}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator poem-img" style="filter: grayscale(100%)" src="{% static 'poemese/img/leafs.gif' %}">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title activator grey-text text-darken-4 titulo-poema">
                  {{ poema.titulo | safe }}
                </span>
              </div>
              <div class="col s1">
                <img class="img-buttons-card tooltipped" src="{% static 'poemese/img/zoom.png' %}" data-position="top" data-delay="50" data-tooltip="clique na imagem">
              </div>
              {% if request.user == poema.autor_poema %}
                <div class="col s1">
                  <a href="#" onclick="show_suggestion_modal({{ poema.id }})" id="show-suggest-button" class="btns-card tooltipped" data-position="top" data-delay="50" data-tooltip="Ver sugestões"> <img src="{% static 'poemese/img/suggest_icon.png' %}" class="img-buttons-card"></a>
                </div>
                <div class="col s1">
                  <a href="{% url 'poemese:atualizar_poema' poema.id %}" class="btns-card"> <img src="{% static 'poemese/img/edit_poema.png' %}" class="img-buttons-card tooltipped" data-position="top" data-delay="50" data-tooltip="Edite o poema"></a>
                </div>
                <div class="col s1">
                  <a href="#" onclick="delete_modal({{poema.id}}, '{{poema.titulo}}')" id="delete-button" class="btns-card"> <img src="{% static 'poemese/img/exclui_poema.png' %}" class="img-buttons-card"></a>
                </div>
              {% else %}

              {% endif %}
            </div>
          </div>
          <div class="card-reveal">
            <div class="row">
              <div class="col s12">
                <span class="card-title activator grey-text text-darken-4">
                  <i class="material-icons right">close</i>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <span class="card-title activator grey-text text-darken-4">
                  {{ poema.titulo | safe }}
                </span>
              </div>
            </div>
            <p class="content-poem">{{ poema.conteudo | safe }}</p>
          </div>
          <br/>
          <div>
            {% if poema.qtd_gostei > 1 %}
              <p class="number-likes container-options-poem">
                {{ poema.qtd_gostei }} pessoas aprovaram
              </p>
            {% elif poema.qtd_gostei == 1 %}
              <p class="number-likes container-options-poem">
                {{ poema.qtd_gostei }} pessoa aprovou
              </p>
            {% else %}
              <p class="number-likes container-options-poem white-border">

              </p>
            {% endif %}
          </div>
          <div class="container-options-poem">
            <div class="row">
              <div class="col s4 flow-text msg-option like-btn pointer">
                <a onclick="toggleLike('{{ user.pseudonimo }}', {{ poema.id }}) " class="btns-card valign-wrapper">
                  <img src="{% static 'poemese/img/black-feather.png' %}" class="center img-buttons-card"> <span>Aprovar</span>
                </a>
              </div>

              <div class="col s4 flow-text like-btn msg-option pointer">
                <a class="btns-card modal-trigger valign-wrapper" onclick="load_comments({{ poema.id }}, '{{ poema.titulo }}')" >
                  <img src="{% static 'poemese/img/comment_poema.png' %}" class="center img-buttons-card"> <span>Comentar</span>
                </a>
              </div>

              <div class="col s4 flow-text like-btn msg-option pointer">
                <a class="btns-card modal-trigger valign-wrapper" onclick="prep_suggestion({{ poema.id }}, '{{ poema.titulo }}')">
                  <img src="{% static 'poemese/img/suggests_poema.png' %}" class=" center img-buttons-card"> <span>Sugerir</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="row view-more" style="display:none">
  <img class="center-align" style="display: block; margin: auto" width="100" height="30" src="{% static 'poemese/img/load_more.gif' %}">
</div>

<div id="delete-modal" class="modal">
  <div class="modal-content row">
    <p style="font-family: Pinyon; font-size: 30px; font-weight: bolder; margin-left: 20px;">Confirmação de Exclusão</p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12" class="borders-delete-msg">
        <p id="delete-msg" class="flow-text">Tem certeza que deseja excluir o poema ? <br> Essa ação após efetuada é irreversível.</p>
      </div>
    </div>
    <div class="row valign-wrapper center">
      <div class="col s12">
        <a href="#" id="delete-modal-button" class="modal-action modal-close waves-effect waves-black btn-flat">Ok</a>
        <a href="#" id="cancel-modal-button" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
      </div>
    </div>
  </div>
</div>

<div id="comment-modal" class="modal modal-fixed-footer">
  <p style="font-family: Pinyon; font-size: 30px; font-weight: bolder; margin-left: 20px;">Comentários    <span id="id-poem"></span></p>
  <div class="divider"></div>
  <div class="modal-content">
  </div>
  <div class="modal-footer">
    <div class="row valign-wrapper">
      <div class="col s10">
        <textarea name="name" id="text-new-comment" rows="8" cols="80"></textarea>
      </div>
      <div class="col s2">
        <img width="50" height="50" class="pointer" onclick="add_comment('{{user.pseudonimo}}')" id="send-icon-comment" src="{% static 'poemese/img/send-icon.png' %}"/>
      </div>
    </div>
  </div>
</div>

<div id="suggest-modal" class="modal">
  <p style="font-family: Pinyon; font-size: 30px; font-weight: bolder; margin-left: 20px;">Sugestão <span id="id-poem-suggestion"></span></p>
  <div class="divider"></div>
  <div class="modal-content">
    <div class="row box-suggest-head">
      <span style="font-weight: bold">Avaliação:</span>
      <div id="stars_rate" class="rateyo" data-rateyo-rating="3">
      </div>
    </div>
    <div class="row box-suggest-body">
      <input id="number_of_stars" style="display: none"/> <!-- rating stars -->
      <textarea id="suggest_content" placeholder="Digite sua sugestão" class="browser-default"></textarea>
    </div>
    <div class="class box-suggest-footer valign-wrapper">
      <button onclick="send_suggestion('{{user.pseudonimo}}')" id="send_suggestion" class="modal-action modal-close waves-effect waves-black btn-flat">Ok</button>
      <button id="cancel_suggestion" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</button>
    </div>
  </div>
</div>

<div id="suggest-show-modal" class="modal">
  <p style="font-family: Pinyon; font-size: 30px; font-weight: bolder; margin-left: 20px;">Sugestões:</p>
  <div class="divider"></div>
  <div class="modal-content">
  </div>
</div>

<div id="container-edit-form">
  <form method="POST" class="edit-form" >
    {% csrf_token %}
    {{formulario_atualizar_poema}}
    <div class="row">
      <div class="col s6">
        <input type="submit" class="btn share-button" value="Compartilhar" id="submit-edit"/>
      </div>
      <div class="col s6">
        <button class="btn cancel-button-insert" id="btn-cancel-edit">CANCELAR</button>
      </div>
    </div>
  </form>
  <form method="POST" class="create-form" >
    {% csrf_token %}
    {{formulario_poema}}
    <div class="row">
      <div class="col s6">
        <input type="submit" class="btn share-button" value="Compartilhar" id="submit-create"/>
      </div>
      <div class="col s6">
        <button class="btn cancel-button-insert" id="btn-cancel-create">CANCELAR</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
